
li {
    float: left;
    padding: 16px;
    list-style-type: none;

}

a{
    color: white;
    font-family: "Avenir";
    text-decoration: none;
    font-size: 18px;
}

img{
    margin:10px;
    width: inherit;

}

p{
    font-family: 'Avenir';
    color:' #515151'
}

.imageHolder{

    margin: 3px;
    padding: 3px;
    align:center;
    background: red;
}

.ProjectContainer {
    position:relative;
    width:97%;
    margin: auto 0;

}
.ProjectContainer img {
    width:100%;
    vertical-align:top;
    margin:0

}

.ProjectContainer p {
    opacity: 0;
    position: absolute;
    text-align: center;
    font: 'Avenir';
    size:24px;

}

.ProjectContainer:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    border-radius: 5px;



}

.ProjectContainer:hover p{
    font: Arial;
    font-size:18px;
    text-align: center;
    color:white;
    opacity: 1;
    z-index: 1;
    left: 50%;
    position: absolute;
    top: 30%;
    margin-left: -150px;
    margin-right: -150px;
    width: 300px;


}

.ProjectContainer:hover:after {
    opacity:1;
}


.endContainer{
    position: relative;
    width: 100%;
    top: 5px;
    height: 150px;
    background:linear-gradient(-45deg, #331454, #3F45D2, #B30FB0, #E73C7E, #EE7752, #5BB850);
    background-size: 400% 400%;
	-webkit-animation: Gradient 35s ease infinite;
	-moz-animation: Gradient 35s ease infinite;
	animation: Gradient 35s ease infinite;
}

.endContainer:after{
    position: absolute;
    width: 100%;
    background: inherit;
    height: 100%;
    margin: 0,0,0,0;
    background: inherit;
    transform-origin: top right;
    transform: skewY(4deg);
    content: '';
    z-index: -1;
}

.navSocialBar{
    list-style-type: none;
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 0;
    overflow: hidden;
}

#Hero {

	color: #fff;
	background: linear-gradient(-45deg, #331454, #3F45D2, #B30FB0, #E73C7E, #EE7752, #5BB850, #43BAA6,  #3D488E, #13EDA5);
	background-size: 400% 400%;
	-webkit-animation: Gradient 35s ease infinite;
	-moz-animation: Gradient 35s ease infinite;
	animation: Gradient 35s ease infinite;
}

#AboutMe {

	height: 500;
	color: #fff;
	background-color: #FEFDF5;
    margin-top: 50px;
    margin-bottom: 50px;

}

#talkBtn{

    font-size: 14px;
    border-color: #AD40E5;
    border-radius: 50;
    background-color: #FEFDF5;
    border-radius: 50px;
    color: #515151;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    transition: all 0.5s;


}

#talkBtn:hover{

   background-color: #AD40E5 ;
   color: #FEFDF5;
}


#Title{
    font-weight: bold;
    font-family: 'Avenir';
    color: white;
    font-size: 50px;
}

#progressCircle{
    margin:50px;
    width:100px
}



@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
